.rappping {
  text-align: center;
}

.primaryButton {
  margin-bottom: 20px;
  padding: 8px;
  border: none;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-align: center;
  border: 3px solid #007bff;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  transition: 0.3s all;
}
.primaryButton:hover {
  border: 3px solid #007bff;
  background-color: #efefef;
  color: #007bff;
}

.dangerButton {
  margin-bottom: 20px;
  padding: 8px;
  border: none;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-align: center;
  border: 3px solid #dc3545;
  border-radius: 5px;
  background-color: #dc3545;
  color: #fff;
  transition: 0.3s all;
}
.dangerButton:hover {
  border: 3px solid #dc3545;
  background-color: #efefef;
  color: #dc3545;
}
